{% extends 'home.html' %}
{% block title %} Reset-Password {% endblock title %}
{% block head %}
{% endblock head %}
{% block body %}

<div id="contact" class="contact-area" >
    <div class="contact-inner area-padding">
      <div class="contact-overly"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>Reset Password </h2>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Start Google Map -->
          <div class="col-md-3">
          </div> 
          <!-- Start  signup -->
            <div class="col-md-6">
             <div class="form contact-form">
              <form action="/request-reset-email" method="post" role="form">
                {% csrf_token %}
                <div class="form-group mt-3">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
                <br>
                <div class="text-center"><button type="submit" style="color: aqua;">Reset Password</button></div>
                <br>
              </form>
            </div>
            </div>
            <!-- End Left contact -->
           <div class="col-md-3">
           </div> 
        </div>
      </div>
    </div>
  </div><!-- End Contact-->

  {% endblock body %}